.site-nav {
    padding: 0;
    margin: 1rem -1rem 0 -1rem;
    list-style: none;

    > li {
        padding: 0;
        margin: 0;
        width: 100%;
    }
}

.site-nav-button {
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0.5rem 2rem;
    margin: 0;
    background: rgba(white,0.1);
    color: white;
    text-align: left;

    &:hover {
        background: rgba(white,0.4);
    }

    &.selected {
        background: $red_grad;
    }

    
}